{{!--
    Global Template: Facebook Pixel ID

    This global template lets you inject facebook pixel id
    @author Juliano Polito (jpolito@salesforce.com)

    Note that the template is built to work with Facebook Pixel. 
    You must first create the pixel using facebook business settings > data source > pixels
    then use the supplied ID here.

    Requirements:
    1) Ensure that you created the facebook pixel in facebook platform and have the Pixel ID.
    2) You must have a content zone to apply the pixel

    Customizations:
    1) You can choose more events to track besides Page View which is the default
--}}
<!-- HTML is not needed for this template -->
